.experienceBar {
  display: flex;
  align-items: center;
}

.experienceBar span {
  font-size: 1rem;
}

.experienceBar > div {
  flex: 1;
  height: 4px;
  border-radius: 4px;
  background: var(--gray-line);
  margin: 0 1.5rem;
  position: relative;
}

.experienceBar > div > div {
  height: 4px;
  border-radius: 4px;
  background: var(--green);
  transition: width 0.5s linear;
}

span.currentExperience {
  position: absolute;
  top: 12px;
  transform: translateX(-50%);

  background-color: var(--green);
  padding: 0.3rem;
  color: var(--white);
  border-radius: 0.25rem;
  position: relative;

  transition: left 0.5s linear;
}

span.currentExperience::after {
  content: '';

  z-index: 1;

  width: 0; 
  height: 0; 
  /*border-left: 0.5rem solid transparent;*/
  border-right: 1rem solid transparent;
  
  border-bottom: 0.75rem solid var(--green);

  position: absolute;
  top: -0.5rem;
  left: 0;
}