.InputContainer {
  display: flex;

  > input {
    background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
    border-radius: 5px 0px 0px 5px;
  
    border: none;
    padding: 1.25rem;
  
    color: var(--white);
    
    flex: 1;

    &::placeholder {
      color: #B2B9FF;
    }
  }
  
  input:not(:placeholder-shown) + button {
    background: var(--green);
    transition: background 0.2s;
  
    cursor: pointer;
  }

  > button {
    padding: 1.25rem;
    border: none;
    border-radius: 0 5px 5px 0;
  
    color: var(--white);
    background: var(--blue-dark);
    
    font-size: 0px;
    transition: background 0.2s;
  
    cursor: not-allowed;
  } 
}