.loginPanel {
  margin: auto;
}

.loginPanel > img {
  margin-bottom: 5rem;
  width: 25rem;
}

.loginPanel span {
  margin: 2.5rem 0;
  display: flex;
}

.loginPanel p {
  text-align: justify;
  max-width: 15rem;
  margin-left: 0.5rem;

  color: #B2B9FF;
}

.loginPanel button {
  width: 100%;
  padding: 1.5rem;

  color: var(--white);
  background: var(--green);
  
  font-size: 1.2rem;

  border: none;
  border-radius: 5px;
  transition: filter 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}
.loginPanel button > svg {
  margin: 0 0.5rem;
}

.loginPanel button:hover {
  filter: brightness(80%);
  transition: filter 0.2s;
}

@media (max-width: 1200px) {
  .loginPanel {
    margin: auto 3rem 3rem 3rem;
  }

  .loginPanel > img {
    width: 18rem;
  }
}