.navigationContainer {
  background-color: white;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.navigationContainer > div {
  cursor: pointer;
  padding: 0.5rem 0;

  position: relative;
}

.navigationContainer button {
  border: none;
  background: transparent;
  transition: all 0.2s;
}
.navigationContainer button:hover {
  filter: brightness(75%);
  transition: all 0.2s;
}

.navigationContainer svg {
  margin: 1rem 0;

  color: var(--text);
  transition: color 0.2s;
  width: 6rem;
}
.navigationContainer div:hover svg {
  color: var(--blue);
  transition: color 0.2s;
}

.selectedMenu {
  position: relative;
}

.selectedMenu > svg {
  color: var(--blue);
}

.selectedMenu::after {
  content: '';
  position: absolute;

  left: 0; top: 0; bottom: 0;
  margin: 15% 0;

  width: 4px;
  background: var(--blue);
  border-radius: 0 5px 5px 0;
}

@media (max-width: 1200px) {
  .navigationContainer {
    flex-direction: row;
    padding: 0;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    border-top: 1.5px solid var(--gray-line);
  }

  .navigationContainer > div {
    display: flex;
    padding: 0;
  }

  .selectedMenu::after {
    top: -0.15rem;
    left: 0;

    width: 100%;
    height: 4px;

    margin: 0;
    border-radius: 5px;
  }

  .navigationContainer > img {
    margin-left: 1rem;
  }
}