.leaderContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.leaderContainer > div {
  display: grid;
  grid-template-columns: 5.5rem auto 10rem 10rem;
  margin: 1rem 0;

  color: #666666aa;
}

.leaderPageTitle {
  color: var(--title);
  margin-bottom: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  strong {
    font-size: 1.25rem;
  }
}

.leaderTable {
  width: 100%;
  border-spacing: 0 0.5rem;
}
.leaderTable  th {
  color: #969cb3;
  font-weight: 400;
  padding: 1rem 2rem;
  text-align: left;
  line-height: 1.5rem;
}



@media (max-width: 820px) {

  .leaderTable th {
    display: none;
    padding-left: 0;
    padding-right: 0;

    &:nth-child(1) {
      width: 100%;
      
      color: green;
      font-size: 1.45rem;

      span {
        display: none;
      }
    }

    &:nth-child(4) {
      display: table-cell;
      text-align: end;

      span {
        display: none;
      }
    }
  }
}