.leaderContainer {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.leaderContainer > div {
  display: grid;
  grid-template-columns: 5.5rem auto 10rem 10rem;
  margin: 1rem 0;

  color: #666666aa;
}

.leaderPageTitle {
  color: var(--title);
  margin-bottom: 1.5rem;
}